<header class="page_header">
  <h1 class="page_header-title">Привет</h1>
  <div class="page_header-author_photo">
    <img src="images/photo.jpg" width="138" height="138" alt="Сергей Куцев">
  </div>
  <form class="page_header-form" action="#" method="post">
    <input class="page_header-form_input" type="text" name="name" placeholder="Имя" value="Сергей Куцев">
    <input class="page_header-form_input" type="text" name="birth_date" placeholder="Дата рождения" value="01.08.1987">
    <input class="page_header-form_input" type="text" name="city" placeholder="Город" value="Днепропетровск">
    <input class="page_header-form_input" type="text" name="contacts" placeholder="Контактные данные" value="skype: flaumsk, e-mail: skflaum@gmail.com">
  </form>
</header>
