<section class="skils">
  <h2 class="skils-title">Навыки</h2>
  <form class="skils-form" action="#" method="post">
    <input class="skils-form_input" id="html" type="checkbox" name="html5" checked>
    <label class="skils-form_label" for="html">HTML5</label>
    <input class="skils-form_input" id="sass" type="checkbox" name="sass" checked>
    <label class="skils-form_label" for="sass">SASS</label>
    <input class="skils-form_input" id="vanillajs" type="checkbox" name="vanillajs">
    <label class="skils-form_label" for="vanillajs">VanillaJS</label>
    <input class="skils-form_input" id="git" type="checkbox" name="git" checked>
    <label class="skils-form_label" for="git">Git</label>
    <input class="skils-form_input" id="css" type="checkbox" name="css3" checked>
    <label class="skils-form_label" for="css">CSS3</label>
    <input class="skils-form_input" id="less" type="checkbox" name="less" checked>
    <label class="skils-form_label" for="less">LESS</label>
    <input class="skils-form_input" id="angular" type="checkbox" name="angular">
    <label class="skils-form_label" for="angular">Angular</label>
    <input class="skils-form_input" id="foundation" type="checkbox" name="foundation">
    <label class="skils-form_label" for="foundation">Foundation</label>
    <input class="skils-form_input" id="bem" type="checkbox" name="bem" checked>
    <label class="skils-form_label" for="bem">БЭМ</label>
    <input class="skils-form_input" id="gulp" type="checkbox" name="gulp" checked>
    <label class="skils-form_label" for="gulp">Gulp</label>
    <input class="skils-form_input" id="jquery" type="checkbox" name="jquery" checked>
    <label class="skils-form_label" for="jquery">jQuery</label>
    <input class="skils-form_input" id="bootstrap" type="checkbox" name="bootstrap" checked>
    <label class="skils-form_label" for="bootstrap">BootStrap</label>
  </form>
</section>
