<section class="skils">
  <h2 class="skils-title">Навыки</h2>
  <form class="skils-form" action="#" method="post">
    <input id="html" type="checkbox" name="html5" checked>
    <label for="html">HTML5</label>
    <input id="sass" type="checkbox" name="sass" checked>
    <label for="sass">SASS</label>
    <input id="vanillajs" type="checkbox" name="vanillajs">
    <label for="vanillajs">VanillaJS</label>
    <input id="git" type="checkbox" name="git" checked>
    <label for="git">Git</label>
    <input id="css" type="checkbox" name="css3" checked>
    <label for="css">CSS3</label>
    <input id="less" type="checkbox" name="less" checked>
    <label for="less">LESS</label>
    <input id="angular" type="checkbox" name="angular">
    <label for="angular">Angular</label>
    <input id="foundation" type="checkbox" name="foundation">
    <label for="foundation">Foundation</label>
    <input id="bem" type="checkbox" name="bem" checked>
    <label for="bem">БЭМ</label>
    <input id="gulp" type="checkbox" name="gulp" checked>
    <label for="gulp">Gulp</label>
    <input id="jquery" type="checkbox" name="jquery" checked>
    <label for="jquery">jQuery</label>
    <input id="bootstrap" type="checkbox" name="bootstrap" checked>
    <label for="bootstrap">BootStrap</label>
  </form>
</section>
