// global
//
$container-width: $vertical-gutter * 82.5
$container-bg-color: #fffefc
$container-padding-horizontal: $vertical-gutter * 2.5
$container-border-bottom-width: $vertical-gutter * 0.25


// body
//
$body-bg-color: #f0f0f0
$body-padding-top: $vertical-gutter * 7.5
$body-padding-bottom: $vertical-gutter * 12.25


// page_header
//
$page_header-padding-top: $vertical-gutter * 3
$page_header-padding-bottom: $vertical-gutter * 4
$page_header-author_photo-margin-top: $vertical-gutter * 0.75
$page_header-form-padding-left: $vertical-gutter * 2.75
$page_header-form_input-height: $vertical-gutter * 3.25
$page_header-form_input-paddig-horizontal: 0
$page_header-form_input-paddig-top: $page_header-form_input-paddig-horizontal
$page_header-form_input-paddig-bottom: $vertical-gutter * 0.5
$page_header-form_input-margin-bottom: $vertical-gutter * 3.375
$page_header-form_input-font-size: $vertical-gutter * 1.5
$page_header-form_input-line-height: $vertical-gutter * 2.75
$page_header-form_input-border-bottom-color: #333333
$page_header-form_input-border-bottom-width: $vertical-gutter * 0.25
$page_header-form_input-color: #666666
$page_header-approved_icon-width: $vertical-gutter * 23
$page_header-approved_icon-height: $vertical-gutter * 20.75
$page_header-approved_icon-right: $vertical-gutter
$page_header-approved_icon-bottom: $vertical-gutter
$page_header-approved_icon-image: url("../images/approved-icon.svg")

// skils
//
$skils-padding-top: $vertical-gutter * 4.25
$skils-padding-bottom: $vertical-gutter * 4.75
$skils-title-font-size: $vertical-gutter * 2.25
$skils-title-line-height: $vertical-gutter * 2.75
$skils-title-color: #010101
$skils-title-margin-bottom: 0
$skils-title-padding-bottom: $vertical-gutter * 3
$skils-form_label-width: $vertical-gutter * 15
$skils-form_label-padding-left: $vertical-gutter * 2.375
$skils-form_label-margin-bottom: $vertical-gutter * 5
$skils-form_label-font-size: $vertical-gutter * 1.5
$skils-form_label-line-height: $vertical-gutter * 2.375
$skils-form_label-color: $page_header-form_input-color
$skils-form-checkbox-top: -$vertical-gutter * 0.125
$skils-form-checkbox-left: -$vertical-gutter
$skils-form-checkbox-size: $vertical-gutter * 2.375
$skils-form-checkbox-bg-color: #eeeeee
$skils-form-checkbox-checked-bg-color: #0093d7


// js_level
//
$js_level-padding-top: $vertical-gutter * 7.25
$js_level-padding-bottom: $vertical-gutter * 8.125
$js_level-indicator-width: $vertical-gutter * 31.625
$js_level-indicator-height: $vertical-gutter * 15.875
$js_level-indicator-padding-right: $vertical-gutter * 8.375
$js_level-indicator-left-bg: url("../images/indicator@left.svg")
$js_level-indicator-top-bg: url("../images/indicator@top.svg")
$js_level-indicator-right-bg: url("../images/indicator@right.svg")
$js_level-indicator-left-width: $vertical-gutter * 10.5
$js_level-indicator-top-width: $vertical-gutter * 18.125
$js_level-indicator-right-width: $vertical-gutter * 10.25
$js_level-indicator-left-height: $vertical-gutter * 12.375
$js_level-indicator-top-height: $vertical-gutter * 8.375
$js_level-indicator-right-height: $vertical-gutter * 12.375
$js_level-toggle-bg: url("../images/toggle.svg")
$js_level-toggle-width: $vertical-gutter * 8.125
$js_level-toggle-height: $vertical-gutter * 2.375
$js_level-showing-padding-top: $vertical-gutter
$js_level-showing-padding-right: $vertical-gutter * 2
$js_level-title-padding-bottom: $vertical-gutter * 2
$js_level-title-font-size: $vertical-gutter * 2.25
$js_level-title-line-height: $vertical-gutter * 3
$js_level-title-color: $skils-title-color
$js_level-value-font-size: $vertical-gutter * 6.25
$js_level-value-line-height: $vertical-gutter * 6.25
$js_level-value-color: #0093d7
